{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{% trans "Reset Password" %}</h2>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div>
            <label for="id_email">{% trans "Email:" %}</label>
            <input type="email" name="email" id="id_email" required>
        </div>
        <button type="submit">{% trans "Send Password Reset Link" %}</button>
    </form>
    <p>{% trans "Return to" %} <a href="{% url 'account_login' %}">{% trans "login" %}</a></p>
</div>
{% endblock content %}