{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{% trans "Change Password" %}</h2>
    <form method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        <div>
            <label for="id_old_password">{% trans "Old Password:" %}</label>
            <input type="password" name="old_password" id="id_old_password" required>
        </div>
        <div>
            <label for="id_new_password1">{% trans "New Password:" %}</label>
            <input type="password" name="new_password1" id="id_new_password1" required>
        </div>
        <div>
            <label for="id_new_password2">{% trans "Confirm New Password:" %}</label>
            <input type="password" name="new_password2" id="id_new_password2" required>
        </div>
        <button type="submit">{% trans "Change Password" %}</button>
    </form>
    <p>{% trans "Return to" %} <a href="{% url 'account_login' %}">{% trans "login" %}</a></p>
</div>
{% endblock content %}