{% extends 'flatpages/default.html' %}
{% block content %}
<div class="container">
    <h2>Сброс пароля</h2>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div>
            <label for="id_email">Электронная почта:</label>
            <input type="email" name="email" id="id_email" required>
        </div>
        <button type="submit">Отправить ссылку для сброса пароля</button>
    </form>
    <p>Вернуться к <a href="{% url 'account_login' %}">входу</a></p>
</div>
{% endblock content %} 