{% extends 'flatpages/default.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <h2>{% trans "Sign Up" %}</h2><br><br>
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div>
            <label for="id_username">{% trans "Username:" %}</label>
            <input type="text" name="username" id="id_username" required>
        </div>
        <br><br>
        <div>
            <label for="id_email">{% trans "Email:" %}</label>
            <input type="email" name="email" id="id_email" required>
        </div><br>
        <div>
            <label for="id_password1">{% trans "Password:" %}</label>
            <input type="password" name="password1" id="id_password1" required>
        </div><br>
        <div>
            <label for="id_password2">{% trans "Confirm Password:" %}</label>
            <input type="password" name="password2" id="id_password2" required>
        </div><br><br>
        <button type="submit">{% trans "Sign Up" %}</button>
    </form>
    <p>{% trans "Already have an account?" %} <a href="{% url 'account_login' %}">{% trans "Login" %}</a></p><br>
</div>
{% endblock content %}