{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>{% trans "Hello!" %}</h1>
    <h1>{% trans "Latest news for the week:" %}</h1>
</head>
<body>
    <div class="container">
        {% for post in last_3_news %}
            <div class="post-item">
                <h1>{{ post.title }}</h1>
                <p><strong>{% trans "Publication Date:" %}</strong> {{ post.created_at|date:"d M Y H:i" }}</p>
                <p>{{ post.text|truncatewords:30 }}</p>
                <p><a href="{% url 'news:about_new' post.pk %}">{% trans "Read more" %}</a></p>
            </div>
            <hr>
        {% empty %}
            <p>{% trans "Unfortunately, there are no new news." %}</p>
        {% endfor %}

        <div class="footer">
            <h1>{% trans "Thank you for being with us!" %}</h1>
        </div>
    </div>
</body>
</html>